body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    font-family: star-trek;
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    opacity: 0.75;
}

.game {
    color: white;
    border-style: dotted;
    padding: 1rem;
    background-color: black;
    opacity: 0.75;

}

.word {
    letter-spacing: .5rem;
    white-space: pre;
}

#letters {
    letter-spacing: 1rem;
}

.game-img {
    max-width: 100%;
    border-style: solid;
    opacity: 0.75;
}
